.card {
    width: 210px;
    height: 294px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    background-image:url(./assets/sohel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 8px;
    /* overflow: hidden; */
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    
  }
  
  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  .card-inner:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backdrop-filter: none;
    transition: all 0.5s;
    
  }
  
  .card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }
  .bg1{
    background: linear-gradient( to right,#44ea76, #39fad7);
    color: black;
    background-color: transparent;
    transition-duration: .3s;
    letter-spacing: 1.4px;
  }
  .bg1::before{
    content: "";
    position: absolute;
    background: linear-gradient( to right,#2ce664, #1acfae);
    filter: blur(10px);
    bottom: -3px;
    z-index: -1;
    transition-duration: .3s;
  }

  .Btn {
    width: 180px;
    height: 45px;
    border-radius: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    background: linear-gradient( to right,#44ea76, #39fad7);
    transition-duration: .3s;
    letter-spacing: 1.4px;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .Btn:hover {
    transform: scale(0.95);
    transition-duration: .3s;
  }
  
  .Btn::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 30%;
    background: linear-gradient( to right,#44ea76, #39fad7);
    filter: blur(10px);
    bottom: -3px;
    z-index: -1;
    transition-duration: .3s;
  }
  
  .Btn:hover::before {
    bottom: -1px;
    filter: blur(5px);
    transition-duration: .3s;
  }

  .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }


  /* mouse scroll effect */
  /* .container {
    width: 100%;
    height: 100%;
    background-color: #c9d6df;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  /* .field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
  } */
  
  .mouse {
    width: 30px;
    height: 50px;
    border: 3px solid rgba(118, 136, 126, 0.486);
    border-radius: 60px;
    position: relative;
    
  }

  .mouse::before{
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgb(146, 165, 170);
      border-radius: 50%;
      opacity: 1;
      animation: wheel 2s infinite;
      -webkit-animation: wheel 2s infinite;
  }
  
  @keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }
  
  @-webkit-keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }

.drop {
  border-radius: 27% 73% 67% 33% / 44% 51% 49% 56% ;
  animation: drop-animation 8s ease-in-out 1s infinite;
  position: relative;
  width: 100px;
  height: 100px;
  background: linear-gradient( to right,#44ea76, #39fad7);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1); 
  background-color: transparent;
  color: white;
  box-shadow: inset 9px 10px 10px 0.5px rgba(151, 235, 209, 0.322);
    
}



@keyframes drop-animation{
 0% {
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
 }
 
 50% {
  border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
 }

 100%{
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
 }

}