.card {
    width: 210px;
    height: 294px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    background-image:url(./assets/sohel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 8px;
    /* overflow: hidden; */
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    
  }
  
  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  .card-inner:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backdrop-filter: none;
    transition: all 0.5s;
    
  }
  
  .card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }
  .bg1{
    background: linear-gradient( to right,#44ea76, #39fad7);
    color: black;
    background-color: transparent;
    transition-duration: .3s;
    letter-spacing: 1.4px;
  }
  .bg1::before{
    content: "";
    position: absolute;
    background: linear-gradient( to right,#2ce664, #1acfae);
    filter: blur(10px);
    bottom: -3px;
    z-index: -1;
    transition-duration: .3s;
  }

  .Btn {
    width: 180px;
    height: 45px;
    border-radius: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    background: linear-gradient( to right,#44ea76, #39fad7);
    transition-duration: .3s;
    letter-spacing: 1.4px;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .Btn:hover {
    transform: scale(0.95);
    transition-duration: .3s;
  }
  
  .Btn::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 30%;
    background: linear-gradient( to right,#44ea76, #39fad7);
    filter: blur(10px);
    bottom: -3px;
    z-index: -1;
    transition-duration: .3s;
  }
  
  .Btn:hover::before {
    bottom: -1px;
    filter: blur(5px);
    transition-duration: .3s;
  }